
Flask==3.0.2
requests==2.31.0
biopython==1.83
pandas==2.2.2
logomaker==0.8
matplotlib==3.8.4
numpy==1.26.4
scipy==1.13.0
scikit-learn==1.2.2
tensorflow==2.16.1
deeplift==0.6.13.0
pyfaidx==0.6.0.1
IPython==8.9.0
sphinx==4.0.2
sphinx-rtd-theme==0.5.2

